html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 15px arial, sans-serif;
    background: #8ec07c;

    display: flex;
    justify-content: center;
}

#main {
    margin-top: 2em;
    display: grid;
    width: 80%;
    height: 500px;
    grid-template-areas:
        "tape   text"
        "inputs text";
    grid-template-rows: 1fr auto;
    gap: 10px;
}

/* Grid areas */
#text {
    grid-area: text;
}

#inputs {
    grid-area: inputs;
}

#tape {
    grid-area: tape;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1400px) {
    #main {
        grid-template-areas:
            "tape"
            "inputs"
            "text";
    }

    #text {
        height: 45vh;
    }
}

@media only screen and (max-width: 900px) {
    #main {
        width: 95%;
    }

    .hide {
        display: none !important;
    }
}

@media only screen and (max-width: 630px) {
    .hide-shorter {
        display: none !important;
    }
}