/* Inputs first row */
#speedlbl {
    color: white;
}

#firstrow {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

#buttons {
    display: flex;
    flex-grow: 1;
    gap: 8px;
}

#buttons select,
#buttons button {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#buttons select {
    width: 60%;
}

#buttons button {
    padding: 1em;
    width: 13.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startbtn {
    background-color: #84e614;
}

#tickbtn {
    background-color: #e9bc26;
}

#stopbtn {
    background-color: #e92626;
}

#startbtn:disabled,
#stopbtn:disabled,
#tickbtn:disabled {
    background-color: #5a5555;
    color: #acacac;
}

@media only screen and (max-width: 630px) {
    #authorrow {
        font-size: .8em;
    }
}

/* Inputs second row */
#secondrow {
    display: flex;
}

#secondrow input {
    width: 100%;
    font-size: 1.3em;
}

/* Author row */
#authorrow {
    display: flex;
    justify-content: right;
    margin-bottom: -1em;
}

#authorrow,
#authorrow a {
    color: white;
}